.front-countdown {
  background-color: @brand-green;
  margin-bottom: 2 * @gutter;
  color: white;
  padding: 2 * @gutter;
  h2 {
    margin: 0;
  }
  h3 {
    margin: 0;
  }
  .countdown {
    padding-top: 2 * @gutter;
    & > div {
      width: 285px;
      padding-left: 15px;
    }
  }
  .day,
  .hour,
  .min {
    height: 40px;
    line-height: 40px;
  }
  .unit {
    margin-right: 30px;
    margin-left: 5px;
    &.last {
      margin-right: 0;
    }
  }
}

.register-btn-container {
  padding: 2 * @gutter + @gutter-sm 0;
}

.front-image-section {
  .image-block {
    .desc {
      margin: @gutter;
      border-left: solid 3px @brand-green;
      padding-left: @gutter;
    }
    &:last {
      margin-right: 0;
    }
  }
}

.sponsor {
  background-color: #fafafa;
}

.sponsor-section{
  img {
    max-height: 80px;
    max-width: 100%;
  }
}

.sponsor-title {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: @gutter;
  //padding: 3 * @gutter 0 2 * @gutter 0;
  color: @brand-green;
}

.front-kv-container {
  img {
    min-width: 100%;
  }
}