.home {
  .main-navigation {
    background: #fcfcfc;
    position: relative;
  }
}

.main-navigation {
  background: transparent;
  border: 0;
  z-index: 1;
  border-radius: 0;
  margin-bottom: 0;
  padding: 30px 0;
  position: absolute;
  width: 100%;
  top: 0;

  .navbar-header {
    padding-left: 40px;
  }
  .main-menu {
    padding-top: 10px;
    margin-right: 160px;
  }
  .navbar-nav > li {
    line-height: 30px;
    & > a {
      line-height: 30px;
      height: 30px;
      padding: 0 20px;
      //border-left: solid 1px white;
      //border-right: solid 1px black;
      color: black;
    }
    &.first > a {
      border-left: 0;
      color: @brand-green;
    }
    &.last > div {
      border-left: solid 1px white;
      padding: 0 20px;
    }
    &.open > a {
      //background-color: #fcfcfc;
      //border-left: solid 1px white;
      //border-right: solid 1px black;
      &:hover,
      &:focus {
        color: @brand-green !important;
      }
    }
    .dropdown-menu {
      opacity: 0.9;
    }
  }
  .navbar-toggle {
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 1;
    margin: @gutter-sm;
    background-color: #ddd;
  }
}

.main-footer {
  padding: 2 * @gutter 2 * @gutter @gutter 2 * @gutter;

  a {
    text-decoration: none;
  }

  .copyright p {
    margin: 0;
    color: #b8b8b8;
  }

  .language {
    width: 50%;
    padding: 30px 0;
    ul {
      padding-left: 10px;
    }
  }

  .share-list {
    a {
      width: 30px;
      margin: 30px 20px 30px 0;
    }
  }
}

@media (max-width: 767px) {
  .main-navigation {
    padding: 10px 15px;
    .main-menu {
      margin-right: auto;
      margin-top: 12px;
      background: #fcfcfc;
    }
  }

  .main-navigation .navbar-nav > li.last > div,
  .main-navigation .navbar-nav > li > a {
    border: 0;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: black;
  }
}