.header-banner {
  position: relative;
  //margin-bottom: 3 * @gutter;
}

.page-title {
  position: absolute;
  bottom: 15%;
}

.article-title {
  margin: 2 * @gutter;
  color: @brand-green;
}

.text-block {
  padding-left: @gutter;
  //border-left: solid 3px @brand-blue;
  margin-bottom: 2 * @gutter-sm;
  .text-title {
    color: @brand-green;
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
  }
  table {
    margin: @gutter-sm 0;
  }
  ol {
    padding-left: 2 * @gutter;
  }
  .level-2 {
    padding-left: 3 * @gutter-sm;
  }
}